<!-- Code on this page adapted from home.j2 in the cs340 materials here: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131 -->

{% extends "main.j2" %}
{% block content %}

    <h1>Welcome to the Neighborhood Lending Library!</h1>

    <h2>Created by Julie Anzaroot and Margaret Barnes for CS 340.</h2>

    <h3>You have reset the database!</h2>


{% endblock %}
    
